<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>chatGPT Clone</title>
  <link rel="stylesheet" href="../static/style.css">
</head>

<body>
  <div id="app">
    <div class="app_wrapper">
      <div class="heading">
        <!-- <img src="../static/assets/REbotlogo.webp" alt="img"> -->
        <h3 style="font-size: 25px; color: rgb(var(--app-color));">Apper</h3>
      </div>
      <div id="chat_container"></div>
      <form>
        <div>
          <textarea id="prompt" rows="1" clos="1" placeholder="Ask Question please ..."></textarea>
        </div>
        <button type="submit"><img src="../static/assets/send.svg" alt=""></button>
      </form>
    </div>
  </div>
  <script src="../static/script.js"></script>
</body>

</html>